#Main{
    width: 900px;
    height: 600px;
    background-color: white;
    position: relative;

}
#orange{
    width: 900px;
    height: 200px;
    background-color: orange;
    position: absolute;
    margin: 0;
}
#blue{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top:200px;
    left: 350px;
    margin: 0;


}
#green{
    height: 200px;
    width: 900px;
    background-color: green;
    position: relative;
    top: 400px;
    margin: 0;
}